@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;0,900;1,100&display=swap");
header {
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.28) 2px 2px 3px; }
  header .background {
    background: transparent;
    transition: all 0.5s ease; }
  header .hero {
    height: 100vh;
    position: relative; }
    header .hero .container {
      width: 100%;
      height: 100vh;
      background-attachment: fixed; }
      header .hero .container .container-hero {
        display: flex;
        text-align: left;
        height: 100%; }
        header .hero .container .container-hero h3, header .hero .container .container-hero h1 {
          font-weight: 700;
          color: #1b1212;
          letter-spacing: 1px; }
        header .hero .container .container-hero .container-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          header .hero .container .container-hero .container-btn a {
            text-decoration: none; }
            header .hero .container .container-hero .container-btn a button {
              font-weight: 600;
              appearance: inherit;
              border: none;
              background-color: transparent;
              outline: none;
              text-transform: uppercase;
              color: whitesmoke;
              cursor: pointer;
              background-color: #e62420;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
              border-radius: 6px;
              font-size: 0.9rem;
              line-height: 20px;
              letter-spacing: 1px;
              box-shadow: rgba(105, 25, 24, 0.58) 1px 1px 5px; }
            header .hero .container .container-hero .container-btn a button:hover {
              border: none;
              outline: none; }
            header .hero .container .container-hero .container-btn a button:active {
              border: none;
              outline: none;
              box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301); }
  @media (min-width: 768px) {
    header .hero .container {
      background-image: url(../../img/hero-tablet.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 45%;
      align-items: flex-start;
      justify-content: center; }
      header .hero .container .container-hero {
        margin: 0 0 0 100px;
        align-items: center; }
        header .hero .container .container-hero .content {
          margin: 0 100px 0 0; }
          header .hero .container .container-hero .content h1 {
            font-size: 2.5rem; }
          header .hero .container .container-hero .content .container-btn {
            margin: 30px 0 0 0; }
            header .hero .container .container-hero .content .container-btn a {
              width: 400px; }
              header .hero .container .container-hero .content .container-btn a button {
                height: 50px;
                font-size: 1rem; }
              header .hero .container .container-hero .content .container-btn a button:active {
                padding: 1.07em 1.17em;
                font-size: 1.17rem; }
        header .hero .container .container-hero .content-logo {
          max-width: 380px; }
          header .hero .container .container-hero .content-logo img {
            width: 100%; } }
  @media (max-width: 767px) {
    header .hero .container .container-hero {
      background-image: url(../../img/hero-mobile.jpg);
      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
      height: 100vh;
      display: flex;
      flex-direction: column; }
      header .hero .container .container-hero img {
        max-width: 200px; }
      header .hero .container .container-hero h1 {
        padding: 15% 18px 0 18px;
        font-size: 1.8rem; }
      header .hero .container .container-hero .container-btn {
        margin: 10px 0 25% 0; }
        header .hero .container .container-hero .container-btn a {
          margin: 40px 0 0 0; }
          header .hero .container .container-hero .container-btn a button {
            font-size: 0.9rem; } }

.clases {
  background-color: #1b1212;
  color: whitesmoke;
  padding: 70px 0; }
  .clases main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .clases main .container-clases {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%; }
      .clases main .container-clases .titulo {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .clases main .container-clases .titulo h3 {
          font-size: 2.2rem;
          letter-spacing: 2px;
          margin: 0;
          text-align: center;
          padding: 0 0 30px 0; }
        .clases main .container-clases .titulo .horario {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row; }
          .clases main .container-clases .titulo .horario h4 {
            padding: 0 30px 0 0;
            font-size: 1.5rem;
            margin: 0; }
          .clases main .container-clases .titulo .horario p {
            font-size: 1.2rem;
            margin: 0; }
    .clases main .container-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 61px; }
      .clases main .container-cards .cards-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .clases main .container-cards .cards-row .card {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #1b1212;
          margin: 25px;
          cursor: pointer; }
          .clases main .container-cards .cards-row .card .container-img {
            width: 215px;
            height: 215px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; }
            .clases main .container-cards .cards-row .card .container-img img {
              width: 100%;
              height: 100%; }
          .clases main .container-cards .cards-row .card .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 215px;
            width: 215px;
            opacity: 0;
            transition: .5s ease;
            background-color: #1f1717c2; }
            .clases main .container-cards .cards-row .card .overlay .text {
              color: white;
              font-size: 0.9rem;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
              width: 200px;
              letter-spacing: 1.1px;
              line-height: 20px; }
            .clases main .container-cards .cards-row .card .overlay:hover {
              opacity: 1; }
          .clases main .container-cards .cards-row .card .container-content {
            display: flex;
            justify-content: center;
            flex-direction: column; }
            .clases main .container-cards .cards-row .card .container-content h3 {
              text-align: center;
              text-transform: uppercase; }
            .clases main .container-cards .cards-row .card .container-content button {
              margin-top: 20px;
              background-color: #1b1212; }
    .clases main .container-modalidad .modalidad {
      display: flex; }
      .clases main .container-modalidad .modalidad .container-card .card h4 {
        justify-content: center;
        text-align: center;
        padding: 0 30px 0 0;
        font-size: 1.5rem; }
      .clases main .container-modalidad .modalidad .container-card .card p {
        text-align: center;
        font-size: 1.2rem;
        max-width: 800px; }

.escuela {
  background-color: #1b1212;
  color: whitesmoke;
  font-family: 'Public Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .escuela .container-titulo {
    text-align: center; }
  .escuela .container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .escuela .container-content .container-presentacion {
      display: flex;
      justify-content: center;
      align-items: center; }
      .escuela .container-content .container-presentacion p {
        max-width: 550px;
        padding: 0 1.5em;
        letter-spacing: 2px;
        line-height: 25px;
        font-size: 1rem; }
        .escuela .container-content .container-presentacion p span {
          font-size: 40px; }
      .escuela .container-content .container-presentacion img {
        max-width: 300px;
        padding: 0 1.5em; }
    .escuela .container-content .container-eduardo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px; }
      .escuela .container-content .container-eduardo img {
        padding: 0 1.5em; }
      .escuela .container-content .container-eduardo .container-content p {
        max-width: 550px;
        padding: 0 1.5em;
        letter-spacing: 2px;
        line-height: 25px;
        font-size: 1rem;
        padding: 0 1.5em; }
    .escuela .container-content .slider {
      max-width: 400px;
      box-sizing: border-box; }
  .escuela .container-info {
    display: flex;
    margin-top: 70px; }
    .escuela .container-info .container-content {
      padding: 0 10px 0 0;
      justify-content: flex-start;
      width: 400px; }
      .escuela .container-info .container-content .mini-card {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 300px; }
        .escuela .container-info .container-content .mini-card .container {
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .escuela .container-info .container-content .mini-card button {
          width: 100%;
          margin: 10px 0;
          color: whitesmoke;
          background-color: #e62420; }
    .escuela .container-info .slider {
      width: 100%;
      box-sizing: border-box; }
      .escuela .container-info .slider .img-slider {
        width: 100%; }
  @media (min-width: 768px) {
    .escuela {
      padding: 80px 0; } }

.contacto {
  margin: 30px 0 0 0;
  background-color: white; }
  .contacto p {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.1rem;
    text-align: center; }
  .contacto .container-content {
    display: flex;
    justify-content: center; }
    .contacto .container-content .container-redes img {
      width: 45px;
      margin-left: 25px; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  background-color: white; }
  .footer p {
    margin: 0.5em; }
    .footer p a {
      color: #f397c0; }
  .footer span img {
    width: 20px; }
  @media (max-width: 767px) {
    .footer {
      padding: 30px 0; } }

.menu-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(43, 25, 41, 0.9);
  z-index: 8;
  top: 0;
  left: 0;
  transform: translate(0%, -100%) scale(0);
  transition: 200ms ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; }
  .menu-modal a {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    color: white;
    text-decoration: none;
    margin: 0 0;
    font-size: 1.3rem; }
    .menu-modal a:active {
      font-size: 1.4rem; }
    .menu-modal a button {
      font-weight: 600;
      appearance: inherit;
      border: none;
      background-color: transparent;
      outline: none;
      text-transform: uppercase;
      color: #f5f5f5;
      cursor: pointer;
      background-color: #e53935;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      font-size: 0.9rem;
      line-height: 20px;
      letter-spacing: 1px;
      box-shadow: rgba(255, 255, 255, 0.18) 1px 1px 1px; }
    .menu-modal a button:hover {
      border: none;
      outline: none; }
    .menu-modal a button:active {
      border: none;
      outline: none;
      box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301); }

.activeModal {
  transform: translate(0%, 0%) scale(1); }

#bodyOverlay {
  transition: 200ms ease-in-out;
  box-sizing: border-box; }

.activeOverlay {
  opacity: 1;
  z-index: 7;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  user-select: none;
  filter: blur(5px); }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: all 1s ease;
  background-color: white; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 45px; }
    .navbar .container .logo {
      display: flex;
      align-items: center; }
      .navbar .container .logo img {
        width: 100%; }
      .navbar .container .logo h3 {
        font-family: 'Merriweather', serif;
        letter-spacing: 1px;
        color: #1b1212;
        font-weight: 900; }
    .navbar .container .menu {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      overflow: hidden;
      transition: all 0.2s ease; }
      .navbar .container .menu a {
        text-decoration: none;
        color: #1b1212;
        letter-spacing: 2px;
        transition: all 0.5s ease;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        transition: all 0.2s ease; }
      .navbar .container .menu a:hover {
        text-shadow: 0.1px 0.1px 1px #1b1212;
        font-weight: bold;
        color: #353535; }
    .navbar .container .buttonBurguer {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      outline: none;
      display: none; }
      @media (max-width: 767px) {
        .navbar .container .buttonBurguer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px 0 0;
          width: 40px;
          height: 40px; }
          .navbar .container .buttonBurguer:focus:before {
            opacity: 0; }
          .navbar .container .buttonBurguer:hover:before {
            opacity: 0; } }
    .navbar .container .line {
      fill: none;
      stroke: black;
      stroke-width: 8;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
    .navbar .container .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6; }
    .navbar .container .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6; }
    .navbar .container .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6; }
    .navbar .container .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6; }
    .navbar .container .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6; }
    .navbar .container .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6; }

.sticky {
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.5s ease;
  padding: 0;
  box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.3); }

@media (min-width: 768px) {
  .navbar {
    padding: 4px 0; }
    .navbar .container .logo img {
      width: 45px;
      margin: 2px 10px 2px 25px;
      animation: 60s rotate360 infinite linear; }
  @keyframes rotate360 {
    to {
      transform: rotate(360deg); } }
    .navbar .container .logo h3 {
      margin: 0 0 0 10px;
      font-size: 1.2rem; }
    .navbar .container .menu {
      margin: 0 30px 0 0; }
      .navbar .container .menu a {
        padding: 0 27px;
        font-size: 1.2rem; }
      .navbar .container .menu a:hover {
        font-size: 1.19rem; }
      .navbar .container .menu .active-list {
        color: #222222;
        font-size: 5rem;
        padding: 0 40px 0 0; } }

@media (max-width: 767px) {
  .navbar .container {
    height: 50px; }
    .navbar .container .logo img {
      width: 45px;
      margin: 2px 10px 2px 20px; }
    .navbar .container .logo h1 {
      font-size: 1rem; }
    .navbar .container .menu {
      display: none; } }

section {
  background-color: #1b1212; }
  section .hungar {
    color: whitesmoke;
    display: flex;
    flex-direction: column; }
    section .hungar .firstSection {
      padding: 8em 0 6em 0;
      display: flex;
      justify-content: center; }
      section .hungar .firstSection .container-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 110px 0 0; }
        section .hungar .firstSection .container-content h1 {
          font-weight: 700;
          letter-spacing: 1px;
          padding: 10px 0;
          font-size: 1.8rem;
          text-transform: uppercase; }
        section .hungar .firstSection .container-content p {
          width: 400px;
          text-align: center;
          letter-spacing: 1.7px;
          font-size: 1.1rem;
          line-height: 25px;
          padding: 0 0 20px 0; }
        section .hungar .firstSection .container-content .container-boton {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px 0 0 0; }
          section .hungar .firstSection .container-content .container-boton .boton-clases {
            margin: 0 80px; }
      section .hungar .firstSection .container-img {
        width: 300px; }
        section .hungar .firstSection .container-img img {
          background-color: grey;
          width: 100%; }
    section .hungar .secondSection {
      background-color: white;
      color: #1b1212;
      padding: 6em 0;
      display: flex;
      justify-content: center; }
      section .hungar .secondSection .container-estudio {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 110px 0 0;
        padding: 0 0 0 1em; }
        section .hungar .secondSection .container-estudio .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0;
          font-weight: 600; }
        section .hungar .secondSection .container-estudio .texto {
          padding: 0;
          max-width: 450px;
          font-size: 1.1rem;
          letter-spacing: 1px;
          list-style: none; }
      section .hungar .secondSection .container-programa {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        padding: 0 1em 0 0; }
        section .hungar .secondSection .container-programa .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0;
          letter-spacing: 1.5px;
          font-weight: 600; }
        section .hungar .secondSection .container-programa ul {
          margin: 0; }
        section .hungar .secondSection .container-programa .texto {
          max-width: 400px;
          font-size: 1.1rem;
          letter-spacing: 1px;
          list-style: none;
          padding: 0;
          margin: 0;
          text-align: left; }
          section .hungar .secondSection .container-programa .texto p {
            font-weight: 600; }
    section .hungar .container-slide {
      display: flex;
      justify-content: center;
      padding: 100px 0; }
      section .hungar .container-slide .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 110px 50px 0; }
        section .hungar .container-slide .container .slider-clases {
          width: 400px;
          box-sizing: border-box; }
          section .hungar .container-slide .container .slider-clases .img-slider {
            width: 400px;
            height: 400px; }
      section .hungar .container-slide .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        max-width: 450px; }
        section .hungar .container-slide .historia .titulo {
          text-align: center;
          font-size: 1.5rem;
          margin: 10px 0 10px 0;
          letter-spacing: 1.5px;
          font-weight: 600;
          color: black; }
        section .hungar .container-slide .historia p {
          font-size: 1.1rem;
          text-align: left;
          letter-spacing: 1.4px;
          max-width: 800px;
          margin: 0 0 30px 0;
          color: black;
          padding: 20px; }
  @media (min-width: 768px) {
    section .hungar .firstSection {
      padding: 8em 0 6em 0; }
      section .hungar .firstSection .container-content {
        margin: 0 110px 0 0; }
        section .hungar .firstSection .container-content h1 {
          padding: 10px 0;
          font-size: 1.8rem; }
        section .hungar .firstSection .container-content p {
          width: 400px;
          font-size: 1.1rem;
          padding: 0 0 20px 0; }
        section .hungar .firstSection .container-content .container-boton {
          margin: 15px 0 0 0; }
          section .hungar .firstSection .container-content .container-boton .boton-clases {
            margin: 0 80px; }
      section .hungar .firstSection .container-img {
        width: 300px; }
    section .hungar .secondSection {
      padding: 6em 0; }
      section .hungar .secondSection .container-estudio {
        max-width: 450px;
        margin: 0 110px 0 0;
        padding: 0 0 0 1em; }
        section .hungar .secondSection .container-estudio .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-estudio .texto {
          padding: 0;
          max-width: 450px;
          font-size: 1.1rem; }
      section .hungar .secondSection .container-programa {
        max-width: 400px;
        padding: 0 1em 0 0; }
        section .hungar .secondSection .container-programa .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-programa ul {
          margin: 0; }
        section .hungar .secondSection .container-programa .texto {
          max-width: 400px;
          font-size: 1.1rem;
          padding: 0;
          margin: 0;
          text-align: left; }
          section .hungar .secondSection .container-programa .texto p {
            font-weight: 600; }
    section .hungar .container-slide {
      padding: 100px 0; }
      section .hungar .container-slide .container {
        margin: 0 110px 50px 0; }
        section .hungar .container-slide .container .slider-clases {
          width: 400px; }
          section .hungar .container-slide .container .slider-clases .img-slider {
            width: 400px;
            height: 400px; }
      section .hungar .container-slide .historia {
        max-width: 450px; }
        section .hungar .container-slide .historia .titulo {
          font-size: 1.5rem;
          margin: 10px 0 10px 0; }
        section .hungar .container-slide .historia p {
          font-size: 1.1rem;
          text-align: left;
          max-width: 800px;
          margin: 0 0 30px 0;
          padding: 20px; } }
  @media (max-width: 991.98px) {
    section .hungar .firstSection {
      padding: 60px 0 60px 0; }
      section .hungar .firstSection .container-content {
        margin: 0 30px 0 0; }
        section .hungar .firstSection .container-content h1 {
          padding: 10px 0;
          font-size: 1.4rem; }
        section .hungar .firstSection .container-content p {
          width: 370px;
          font-size: 1rem;
          padding: 0 0 10px 0; }
        section .hungar .firstSection .container-content .container-boton {
          margin: 15px 0 0 0; }
          section .hungar .firstSection .container-content .container-boton .boton-clases {
            margin: 0 80px; }
      section .hungar .firstSection .container-img {
        margin: 30px 0 0 0;
        width: 200px; }
        section .hungar .firstSection .container-img p {
          margin: 5px 0 0 0;
          text-align: right; }
    section .hungar .secondSection {
      padding: 60px 0; }
      section .hungar .secondSection .container-estudio {
        max-width: 450px;
        margin: 0 40px 0 0;
        padding: 0 0 0 1em; }
        section .hungar .secondSection .container-estudio .titulo {
          width: 100%;
          font-size: 1.35rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-estudio .texto {
          padding: 0;
          max-width: 450px;
          font-size: 1rem; }
      section .hungar .secondSection .container-programa {
        max-width: 400px;
        padding: 0 1em 0 0; }
        section .hungar .secondSection .container-programa .titulo {
          width: 100%;
          font-size: 1.35rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-programa ul {
          margin: 0; }
        section .hungar .secondSection .container-programa .texto {
          max-width: 400px;
          font-size: 1rem;
          padding: 0;
          margin: 0;
          text-align: left; }
          section .hungar .secondSection .container-programa .texto p {
            font-weight: 600; }
    section .hungar .container-slide {
      padding: 100px 0;
      flex-direction: column;
      align-items: center; }
      section .hungar .container-slide .container {
        margin: 0 0 40px; }
        section .hungar .container-slide .container .slider-clases {
          width: 400px; }
          section .hungar .container-slide .container .slider-clases .img-slider {
            width: 400px;
            height: 400px; }
      section .hungar .container-slide .historia {
        max-width: 620px; }
        section .hungar .container-slide .historia .titulo {
          font-size: 1.4rem;
          margin: 10px 0 10px 0; }
        section .hungar .container-slide .historia p {
          font-size: 1rem;
          text-align: left;
          max-width: 850px;
          margin: 0 0 30px 0;
          padding: 20px; } }
  @media (max-width: 667px) {
    section .hungar .firstSection {
      padding: 70px 0 6em 0;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section .hungar .firstSection .container-content {
        flex-direction: column;
        margin: 0 0px 0 0; }
        section .hungar .firstSection .container-content h1 {
          padding: 10px 0;
          font-size: 1.6rem; }
        section .hungar .firstSection .container-content p {
          max-width: 300px;
          font-size: 1rem;
          padding: 0 0 10px 0; }
        section .hungar .firstSection .container-content .container-boton {
          margin: 10px 0 50px 0; }
          section .hungar .firstSection .container-content .container-boton .boton-clases {
            margin: 0 80px; }
      section .hungar .firstSection .container-img {
        display: flex;
        flex-direction: column;
        width: 100%; }
    section .hungar .secondSection {
      padding: 50px 0;
      flex-direction: column;
      padding: 40px 0 40px 15px; }
      section .hungar .secondSection .container-estudio {
        max-width: 450px;
        margin: 0 110px 0 0;
        padding: 0; }
        section .hungar .secondSection .container-estudio .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-estudio .texto {
          padding: 0;
          max-width: 450px;
          font-size: 1.1rem; }
      section .hungar .secondSection .container-programa {
        max-width: 400px;
        padding: 0 1em 0 0; }
        section .hungar .secondSection .container-programa .titulo {
          width: 100%;
          font-size: 1.5rem;
          margin: 0 0 20px 0; }
        section .hungar .secondSection .container-programa ul {
          margin: 0; }
        section .hungar .secondSection .container-programa .texto {
          max-width: 400px;
          font-size: 1.1rem;
          padding: 0;
          margin: 0;
          text-align: left; }
          section .hungar .secondSection .container-programa .texto p {
            font-weight: 600; }
    section .hungar .container-slide {
      flex-direction: column;
      padding: 50px 0 50px 0;
      width: 100%; }
      section .hungar .container-slide .container {
        margin: 0;
        overflow: hidden; }
      section .hungar .container-slide .historia {
        max-width: 450px; }
        section .hungar .container-slide .historia .titulo {
          font-size: 1.5rem;
          margin: 10px 0 10px 0; }
        section .hungar .container-slide .historia p {
          font-size: 1.1rem;
          text-align: left;
          max-width: 800px;
          margin: 0 0 30px 0;
          padding: 20px; } }

section .sobreMi .firstSection {
  padding: 7em 0 0em 0;
  display: flex;
  justify-content: center; }
  section .sobreMi .firstSection .container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    margin: 0; }
    section .sobreMi .firstSection .container-content h1 {
      font-weight: 700;
      letter-spacing: 1px;
      padding: 10px 0;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0 0 10px 0; }
    section .sobreMi .firstSection .container-content h2 {
      font-weight: 500;
      letter-spacing: 1px;
      padding: 10px 0;
      font-size: 1.6rem;
      margin: 0 0 25px 0; }
    section .sobreMi .firstSection .container-content p {
      max-width: 700px;
      text-align: left;
      letter-spacing: 1.7px;
      font-size: 1.1rem;
      line-height: 25px;
      padding: 0 20px 100px 20px !important;
      color: whitesmoke; }

.eduardo {
  color: #1b1212;
  display: flex;
  background-color: white; }
  .eduardo .section-eduardo {
    display: flex;
    justify-content: center;
    padding: 80px;
    position: relative; }
    .eduardo .section-eduardo .container-content-eduardo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .eduardo .section-eduardo .container-content-eduardo h1 {
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 1.8rem;
        margin: 20px;
        text-transform: uppercase;
        color: #1b1212;
        width: 400px;
        z-index: 2; }
      .eduardo .section-eduardo .container-content-eduardo .p-eduardo {
        max-width: 600px;
        text-align: center;
        letter-spacing: 1.7px;
        font-size: 1.1rem;
        line-height: 25px;
        z-index: 2; }
    .eduardo .section-eduardo .container-img-eduardo {
      position: absolute;
      left: 600px; }
      .eduardo .section-eduardo .container-img-eduardo img {
        z-index: 1;
        width: 654px; }

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .quote p {
    max-width: 600px;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    line-height: 30px; }

#map {
  height: 250px;
  /* The height is 400 pixels */
  width: 250px;
  background-color: white;
  /* The width is the width of the web page */ }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

p::selection {
  background-color: #e62420;
  color: whitesmoke; }

h1::selection {
  background-color: #e62420;
  color: whitesmoke; }

h2::selection {
  background-color: #e62420;
  color: whitesmoke; }

h3::selection {
  background-color: #e62420;
  color: whitesmoke; }

h4::selection {
  background-color: #e62420;
  color: whitesmoke; }

h5::selection {
  background-color: #e62420;
  color: whitesmoke; }

li::selection {
  background-color: #e62420;
  color: whitesmoke; }

span::selection {
  background-color: #e62420;
  color: whitesmoke; }

a::selection {
  background-color: #e62420;
  color: whitesmoke; }

strong::selection {
  background-color: #e62420;
  color: whitesmoke; }

button {
  --top: 50%;
  --left: 50%;
  --size: 100%;
  color: #fff;
  background: #e62420;
  border: none;
  padding: 0.6rem 1.25rem;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer; }
  button:active {
    padding: 0.59rem 1.19rem;
    font-size: 0.78rem; }

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0; }

button:focus:before,
button:hover:before {
  opacity: 0.1; }

button:after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: currentColor;
  clip-path: circle(0%);
  opacity: 0.3;
  border-radius: inherit; }

button:active:after {
  clip-path: circle(100%);
  opacity: 0;
  transition: clip-path 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.4s ease-in-out;
  transition-delay: -0.1s, 0.5s; }

a {
  text-decoration: none; }

.trigger-p {
  max-width: 600px;
  font-size: 20px !important;
  padding: 20px 15px !important; }

.ac-trigger {
  text-align: center !important; }

.info-contacto {
  max-width: 550px;
  padding: 1em 1.5em;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 1rem;
  text-align: center; }
