@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
header {
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.28) 2px 2px 3px; }
  header .background {
    background: transparent;
    transition: all 0.5s ease; }
  header .hero {
    height: 100vh;
    position: relative; }
    header .hero .container {
      width: 100%;
      height: 100vh;
      background-attachment: fixed; }
      header .hero .container .container-hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%; }
        header .hero .container .container-hero h3, header .hero .container .container-hero h1 {
          font-weight: 700;
          color: #1b1212;
          letter-spacing: 1px; }
        header .hero .container .container-hero .container-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          header .hero .container .container-hero .container-btn a {
            text-decoration: none; }
            header .hero .container .container-hero .container-btn a button {
              font-weight: 600;
              appearance: inherit;
              border: none;
              background-color: transparent;
              outline: none;
              text-transform: uppercase;
              color: whitesmoke;
              cursor: pointer;
              background-color: #e62420;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
              border-radius: 6px;
              font-size: 0.9rem;
              line-height: 20px;
              letter-spacing: 1px;
              box-shadow: rgba(105, 25, 24, 0.58) 1px 1px 5px; }
            header .hero .container .container-hero .container-btn a button:hover {
              border: none;
              outline: none; }
            header .hero .container .container-hero .container-btn a button:active {
              border: none;
              outline: none;
              box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301); }
  @media (min-width: 767px) {
    header .hero .container {
      background-image: url(../../img/hero-tablet.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 45%;
      align-items: flex-start;
      justify-content: center; }
      header .hero .container .container-hero {
        justify-content: center;
        align-items: flex-start; }
        header .hero .container .container-hero .content {
          margin: 0 0 0 100px; }
          header .hero .container .container-hero .content h1 {
            font-size: 2.5rem; }
          header .hero .container .container-hero .content .container-btn {
            margin: 30px 0 0 0; }
            header .hero .container .container-hero .content .container-btn a {
              width: 400px; }
              header .hero .container .container-hero .content .container-btn a button {
                height: 50px;
                font-size: 1rem; }
              header .hero .container .container-hero .content .container-btn a button:active {
                padding: 1.07em 1.17m;
                font-size: 1.17rem; } }
  @media (max-width: 767px) {
    header .hero .container .container-hero {
      background-image: url(../../img/hero-mobile.jpg);
      background-size: cover;
      background-position: center;
      background-color: rgba(40, 11, 63, 0.56);
      background-blend-mode: overlay;
      height: 100vh;
      display: flex;
      flex-direction: column; }
      header .hero .container .container-hero h1 {
        padding: 15% 18px 0 18px;
        font-size: 1.8rem; }
      header .hero .container .container-hero .container-btn {
        margin: 10px 0 25% 0; }
        header .hero .container .container-hero .container-btn a {
          margin: 40px 0 0 0; }
          header .hero .container .container-hero .container-btn a button {
            font-size: 0.9rem; } }

.clases {
  background-color: #1b1212;
  color: whitesmoke;
  padding: 70px 0; }
  .clases main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .clases main .container-horario {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .clases main .container-horario .titulo h3 {
        font-size: 1.6rem;
        letter-spacing: 2px; }
      .clases main .container-horario .horario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .clases main .container-horario .horario h4 {
          margin: 0; }
    .clases main .container-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap; }
      .clases main .container-cards .cards-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .clases main .container-cards .cards-row .card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #1b1212;
          height: 350px;
          margin: 25px; }
          .clases main .container-cards .cards-row .card .container-img {
            width: 300px;
            height: 300px; }
            .clases main .container-cards .cards-row .card .container-img img {
              width: 100%; }
          .clases main .container-cards .cards-row .card .container-content h3 {
            text-transform: uppercase; }

.escuela {
  background-color: #1b1212;
  color: whitesmoke; }

.contacto {
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.18) 5px 5px 5px;
  border-top: 1px inset rgba(0, 0, 0, 0.08);
  border-left: 1px inset rgba(0, 0, 0, 0.08); }
  .contacto .container-title h4 {
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.2px; }
  .contacto .container-title .line {
    border-bottom: 5px solid #ffeb3b;
    width: 400px;
    margin: 10px 0 0 -250px;
    border-top: 1px inset rgba(0, 0, 0, 0.08);
    border-left: 1px inset rgba(0, 0, 0, 0.08); }
  .contacto .center {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contacto .center .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 2px;
      border-top: 1px inset rgba(0, 0, 0, 0.08);
      border-left: 1px inset rgba(0, 0, 0, 0.08); }
      .contacto .center .container .container-text p {
        text-align: center; }
      .contacto .center .container .button-mail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .contacto .center .container .button-mail button {
          font-weight: 600;
          appearance: inherit;
          border: none;
          background-color: transparent;
          outline: none;
          text-transform: uppercase;
          color: #f5f5f5;
          cursor: pointer;
          background-color: #e53935;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          border-radius: 6px;
          font-size: 0.9rem;
          line-height: 20px;
          letter-spacing: 1px;
          box-shadow: rgba(255, 255, 255, 0.18) 1px 1px 1px; }
      .contacto .center .container .container-cafe {
        display: flex;
        justify-content: center;
        align-items: center; }
        .contacto .center .container .container-cafe p {
          text-align: center; }
      .contacto .center .container .redes {
        display: flex;
        justify-content: center;
        align-items: center; }
    .contacto .center button {
      font-weight: 600;
      appearance: inherit;
      border: none;
      background-color: transparent;
      outline: none;
      text-transform: uppercase;
      color: #f5f5f5;
      cursor: pointer;
      background-color: #e53935;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      font-size: 0.8rem;
      line-height: 20px;
      letter-spacing: 1px;
      box-shadow: rgba(255, 255, 255, 0.18) 1px 1px 1px; }
  @media (min-width: 767px) {
    .contacto {
      padding: 0 50px; }
      .contacto .container-title {
        padding: 70px 0 0 0; }
        .contacto .container-title h4 {
          padding: 0 30px;
          margin: 0 0 5px 0;
          font-size: 2rem; }
        .contacto .container-title .line {
          width: 400px;
          margin: 10px 0 0 -220px; }
      .contacto .center {
        padding: 60px 0 120px 0; }
        .contacto .center .container {
          padding: 40px 50px;
          width: 610px; }
          .contacto .center .container .container-text p {
            padding: 0 0px;
            font-size: 1rem;
            line-height: 25px;
            margin: 0 0 15px 0; }
          .contacto .center .container .button-mail {
            margin: 0 0 40px 0; }
          .contacto .center .container .container-cafe {
            margin: 0 0 15px 0; }
            .contacto .center .container .container-cafe p {
              width: 400px;
              font-size: 1rem; }
              .contacto .center .container .container-cafe p span img {
                width: 40px;
                margin: -7px -3px; }
          .contacto .center .container .redes a {
            padding: 0px 40px;
            width: 40px;
            height: 40px;
            margin: 0; }
            .contacto .center .container .redes a img {
              width: 100%; }
          .contacto .center .container button {
            margin: 0; } }
  @media (max-width: 767px) {
    .contacto {
      padding: 70px 10px 50px 10px; }
      .contacto .container-title {
        padding: 0px 0 0 20px; }
        .contacto .container-title h4 {
          font-size: 1.5rem;
          margin: 0 0 7px 0; }
        .contacto .container-title .line {
          margin: 5px 0 0 -290px; }
      .contacto .center {
        margin: 40px auto 10px;
        width: 300px; }
        .contacto .center .container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 30px 0; }
          .contacto .center .container .container-text p {
            padding: 0 20px 20px 20px;
            margin: 0;
            font-size: 0.9rem;
            line-height: 20px; }
          .contacto .center .container .button-mail {
            padding: 0 0 60px 0; }
            .contacto .center .container .button-mail button {
              line-height: 17px;
              font-size: 0.7rem; }
          .contacto .center .container .container-cafe {
            width: 280px;
            padding: 0 30px 30px 30px; }
            .contacto .center .container .container-cafe p {
              font-size: 0.8rem;
              margin: 0; }
            .contacto .center .container .container-cafe img {
              margin: -8px -3px;
              width: 40px; }
          .contacto .center .container .redes a {
            width: 30px;
            height: 30px;
            padding: 0 15px; }
            .contacto .center .container .redes a img {
              width: 100%; }
          .contacto .center .container button {
            line-height: 17px;
            font-size: 0.7rem; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0; }
  .footer p {
    margin: 0.5em; }
  .footer span img {
    width: 20px; }
  @media (max-width: 767px) {
    .footer {
      padding: 30px 0; } }

section .Hung-Gar {
  display: flex; }
  section .Hung-Gar .container h2 {
    font-weight: 700;
    letter-spacing: 1px; }
  section .Hung-Gar img {
    background-color: grey; }

section .Chang-Quan {
  display: flex; }
  section .Chang-Quan .container h2 {
    margin: 0 0 0 20px; }
  section .Chang-Quan .container p {
    width: 700px;
    margin: 20px; }
  section .Chang-Quan img {
    width: 300px;
    height: 200px;
    background-color: grey; }

section .Tai-Chi {
  display: flex; }
  section .Tai-Chi .container h2 {
    margin: 0 0 0 20px; }
  section .Tai-Chi .container p {
    width: 700px;
    margin: 20px; }
  section .Tai-Chi img {
    width: 300px;
    height: 200px;
    background-color: grey; }

section .Qigong {
  display: flex; }
  section .Qigong .container h2 {
    margin: 0 0 0 20px; }
  section .Qigong .container p {
    width: 700px;
    margin: 20px; }
  section .Qigong img {
    width: 300px;
    height: 200px;
    background-color: grey;
    margin: 40px; }

@media (min-width: 767px) {
  .Hung-Gar {
    display: flex; }
    .Hung-Gar .container h2 {
      margin: 20px 0 0 20px; }
    .Hung-Gar .container p {
      max-width: 700px;
      margin: 20px; }
    .Hung-Gar img {
      width: 300px;
      height: 200px;
      background-color: grey;
      margin: 40px; }
  .Chang-Quan {
    display: flex; }
    .Chang-Quan .container h2 {
      margin: 20 0 0 20px; }
    .Chang-Quan .container p {
      max-width: 700px;
      margin: 20px; }
    .Chang-Quan img {
      width: 300px;
      height: 200px;
      background-color: grey;
      margin: 40px; }
  .Tai-Chi {
    display: flex; }
    .Tai-Chi .container h2 {
      margin: 20 0 0 20px; }
    .Tai-Chi .container p {
      max-width: 700px;
      margin: 20px; }
    .Tai-Chi img {
      width: 300px;
      height: 200px;
      background-color: grey;
      margin: 40px; }
  .Qigong {
    display: flex; }
    .Qigong .container h2 {
      margin: 20 0 0 20px; }
    .Qigong .container p {
      max-width: 700px;
      margin: 20px; }
    .Qigong img {
      width: 300px;
      height: 200px;
      background-color: grey;
      margin: 40px; } }

.menu-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(43, 25, 41, 0.9);
  z-index: 8;
  top: 0;
  left: 0;
  transform: translate(0%, -100%) scale(0);
  transition: 200ms ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; }
  .menu-modal a {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    color: white;
    text-decoration: none;
    margin: 0 0;
    font-size: 1.3rem; }
    .menu-modal a:active {
      font-size: 1.4rem; }
    .menu-modal a button {
      font-weight: 600;
      appearance: inherit;
      border: none;
      background-color: transparent;
      outline: none;
      text-transform: uppercase;
      color: #f5f5f5;
      cursor: pointer;
      background-color: #e53935;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      font-size: 0.9rem;
      line-height: 20px;
      letter-spacing: 1px;
      box-shadow: rgba(255, 255, 255, 0.18) 1px 1px 1px; }
    .menu-modal a button:hover {
      border: none;
      outline: none; }
    .menu-modal a button:active {
      border: none;
      outline: none;
      box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301); }

.activeModal {
  transform: translate(0%, 0%) scale(1); }

#bodyOverlay {
  transition: 200ms ease-in-out;
  box-sizing: border-box; }

.activeOverlay {
  opacity: 1;
  z-index: 7;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  user-select: none;
  filter: blur(5px); }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: all 1s ease; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .navbar .container .logo {
      display: flex;
      align-items: center; }
      .navbar .container .logo img {
        width: 100%; }
      .navbar .container .logo h1 {
        font-family: 'Nunito', sans-serif;
        letter-spacing: 1px;
        color: #1b1212; }
    .navbar .container .menu {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      overflow: hidden;
      transition: all 0.2s ease; }
      .navbar .container .menu a {
        text-decoration: none;
        color: #1b1212;
        letter-spacing: 2px;
        transition: all 0.5s ease;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        transition: all 0.2s ease; }
      .navbar .container .menu a:hover {
        text-shadow: 0.1px 0.1px 1px #ff7575;
        font-weight: bold;
        color: #353535; }
    .navbar .container .buttonBurguer {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      outline: none;
      display: none; }
      @media (max-width: 767px) {
        .navbar .container .buttonBurguer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px 0 0;
          width: 40px;
          height: 40px; }
          .navbar .container .buttonBurguer:focus:before {
            opacity: 0; }
          .navbar .container .buttonBurguer:hover:before {
            opacity: 0; } }
    .navbar .container .line {
      fill: none;
      stroke: #f5f5f5;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
    .navbar .container .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6; }
    .navbar .container .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6; }
    .navbar .container .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6; }
    .navbar .container .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6; }
    .navbar .container .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6; }
    .navbar .container .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6; }

.sticky {
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.5s ease;
  padding: 0;
  box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.3); }

@media (min-width: 767px) {
  .navbar {
    padding: 4px 0; }
    .navbar .container .logo img {
      width: 70px;
      margin: 2px 10px 2px 25px; }
    .navbar .container .logo h1 {
      margin: 0 0 0 10px;
      font-size: 1.2rem; }
    .navbar .container .menu {
      margin: 0 30px 0 0; }
      .navbar .container .menu a {
        width: 100px;
        padding: 0 27px;
        font-size: 1.2rem; }
      .navbar .container .menu a:hover {
        font-size: 1.5rem; }
      .navbar .container .menu .active-list {
        color: #222222;
        font-size: 5rem;
        padding: 0 40px 0 0; } }

@media (max-width: 767px) {
  .navbar .container {
    height: 50px; }
    .navbar .container .logo img {
      width: 45px;
      height: 38px;
      margin: 2px 10px 2px 20px; }
    .navbar .container .logo h1 {
      font-size: 1rem; }
    .navbar .container .menu {
      display: none; } }

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .quote p {
    font-size: 1.3rem; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

p::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

h1::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

h2::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

h3::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

h4::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

h5::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

li::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

span::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

a::selection {
  background-color: rgba(123, 68, 107, 0.8);
  color: whitesmoke; }

button {
  --top: 50%;
  --left: 50%;
  --size: 100%;
  color: #fff;
  background: #e62420;
  border: none;
  padding: 0.6rem 1.25rem;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer; }
  button:active {
    padding: 0.59rem 1.19rem;
    font-size: 0.78rem; }

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0; }

button:focus:before,
button:hover:before {
  opacity: 0.1; }

button:after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: currentColor;
  clip-path: circle(0%);
  opacity: 0.3;
  border-radius: inherit; }

button:active:after {
  clip-path: circle(100%);
  opacity: 0;
  transition: clip-path 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.4s ease-in-out;
  transition-delay: -0.1s, 0.5s; }

a {
  text-decoration: none; }
