@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";


.contacto{
    margin: 30px 0 0 0;
    background-color: white;
    p{
        font-family: 'Public Sans', sans-serif;
        font-size: 1.1rem;
        text-align: center;
    }
    .container-content{
        display: flex;
        justify-content: center;
        .container-redes{
            img{
                width: 45px;
                margin-left: 25px;
            }
        }
    }
}