@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";


.eduardo{
    color: $negro;
    display: flex;
    background-color: white;
  
    .section-eduardo{
        display: flex;
        justify-content: center;
        padding: 80px;
        position: relative;
        .container-content-eduardo{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                font-weight: 700;
                letter-spacing:1px;
                padding: 10px 0;
                font-size: 1.8rem;
                margin: 20px ;
                text-transform: uppercase;
                color: $negro;
                width: 400px;
                z-index: 2;
            }
            .p-eduardo{
                max-width: 400px;
                text-align: center;
                letter-spacing: 1.7px;
                font-size: 1.1rem;
                line-height: 25px;
                z-index: 2;
            }
        }
        .container-img-eduardo  {
            position: absolute;
            left: 600px;
            img{
                z-index: 1;
                width: 654px;
            }
        }
    }
}