@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";


section{
    .Hung-Gar{
        display:flex;

        title{

        }

        p{

        }

        img{
            width: 200px;
            height: 200px;
            background-color: grey;
        }
    }

    .Chang-Quan{
        display:flex;

        title{

        }

        p{

        }

        img{
            width: 200px;
            height: 200px;
            background-color: grey;
        }
    }

    .Tai-Chi{
        display:flex;

        title{

        }

        p{

        }

        img{
            width: 200px;
            height: 200px;
            background-color: grey;
        }
    }

    .Qigong{
        display:flex;

        title{

        }

        p{

        }

        img{
            width: 200px;
            height: 200px;
            background-color: grey;
        }
    }

}


@include respon(tablet){   
    
}


@include respon(mobile){}
    