@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";
.escuela{
    background-color: $negro;
    color: $blanco;  
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .container-titulo{
    text-align: center;    

    }
    .container-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .container-presentacion{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                max-width: 550px;
                padding: 0 1.5em;
                letter-spacing: 2px;
                line-height: 25px;
                font-size: 1rem;
                span{
                    font-size: 40px;
                }
            }
            img{
                max-width: 300px;
                padding: 0 1.5em;
            }
        }
        .container-eduardo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            img{
                padding: 0 1.5em;
            }
            .container-content{
                p{
                    max-width: 550px;
                    padding: 0 1.5em;
                    letter-spacing: 2px;
                    line-height: 25px;
                    font-size: 1rem;
                    padding: 0 1.5em;
                }

            }
        }
        .slider{
            max-width: 400px;
            box-sizing: border-box;
            .img-slider{
                
            }
        }
    }
    .container-info{
        display: flex;
        margin-top: 70px;
        .container-content{
            padding: 0 10px 0 0;
            justify-content: flex-start;
            width: 400px;
            .mini-card{
                display: flex;
                flex-direction: column;
                height: 250px;  
                width: 300px;
                .container{
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                button{
                    width: 100%;
                    margin: 10px 0;
                    color: $blanco;
                    background-color: $rojo;
                }
            }
        }
        .slider{
            max-width: 350px;
            box-sizing: border-box;
            .img-slider{
                width: 100%;
            }
        }
    }
    @include respon(tablet){  
        padding: 80px 0;  
    }
    @include respon(mobile){
    }
}