@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";
.escuela{
    background-color: $negro;
    color: $blanco;  

    .container-titulo{
        

    }
    @include respon(tablet){  
        padding: 80px 0;  
    }
    @include respon(mobile){
    }
}