.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: white;
    p{
        margin: 0.5em;
        a{
            color: #f397c0;
        }
    }
    span{
        img{
            width: 20px;
        } 
    }  
    @include respon(mobile){
        padding: 30px 0;

    }
}